<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>

<body>
    <h1>welcome to the Meeting Planner</h1>
    <p>some text to render</p>
    <p> Number of meetings is: {{num_meetings}} </p>
    <p> Number of Rooms is: {{num_rooms}} </p>
    <h2>Meetings: </h2>
    <ul>
        {% for meeting in meetings_all %}
        <li>
            <a href=" {% url 'detail' meeting.id %} ">
                {{ meeting.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <a href=" {% url 'rooms' %} ">
        Room list
    </a>
</body>

</html>